{% load i18n %}

<nav id="top_page" class="navbar navbar-expand-lg navbar-light bg-light accounts">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".account-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container d-flex justify-content-between">
        
        <!-- This is the brand -->
        <div class="navbar-brand">
            {% include "oscar/partials/brand.html" %}
        </div>
        
        <div class="navbar-collapse account-collapse collapse">

            <!-- This is the search box -->
            <div class="ml-auto">
                {% include "oscar/partials/search.html" %}
            </div>

            <!-- This is the basket -->
            <div class="mr-0">
                {% include "oscar/partials/mini_basket.html" %}
            </div>

            <!-- This is the account links -->
            <div class="ml-0">
                <ul class="navbar-nav ml-md-auto d-md-flex">                       
                    {% if user.is_authenticated %}
                        {% block nav_account_navbar_authenticated %}
                            <li class="nav-item mr-0">
                                {% if num_unread_notifications > 0 %}
                                    {# If user has new notifications - we change account link to go to inbox #}
                                    <a href="{% url 'customer:notifications-inbox' %}" class="nav-link mt-2 mt-lg-0">
                                        <i class="far fa-user mr-2"></i>
                                        {% trans "Account" %}
                                        <span class="badge badge-warning">{{ num_unread_notifications }}</span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'customer:summary' %}" class="nav-link mt-2 mt-lg-0">
                                        <i class="far fa-user mr-2"></i>
                                        {% trans "Account" %}
                                    </a>
                                {% endif %}
                            </li>
                            {% if user.is_staff or perms.partner.dashboard_access %}
                                <li class="nav-item mr-0">
                                    <a href="{% url 'dashboard:index' %}" class="nav-link">
                                        <i class="fas fa-list-ul mr-2"></i>
                                        {% trans "Dashboard" %}
                                    </a>
                                </li>
                            {% endif %}
                            <li class="nav-item mr-0">
                                <a id="logout_link" href="{% url 'customer:logout' %}" class="nav-link">
                                    <i class="fas fa-sign-out-alt mr-2"></i>
                                    {% trans "Logout" %}
                                </a>
                            </li>
                        {% endblock %}
                    {% else %}
                        <li class="nav-item mr-0">
                            <a id="login_link" href="{% url 'customer:login' %}" class="nav-link">
                                <i class="fas fa-sign-in-alt mr-2"></i>
                                {% trans "Login or register" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>

    </div>
</nav>
